Source: ros-noetic-soem
Section: misc
Priority: optional
Maintainer: Matthias Gruhler <matthias.gruhler@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-catkin
Homepage: http://openethercatsociety.github.io/
Standards-Version: 3.9.2

Package: ros-noetic-soem
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: ROS wrapper for the Simple Open EtherCAT Master SOEM.
 This is an updated version of the original SOEM wrapper released into ROS now including the upstream Repo as a git subtree.
